/** rtl styles **/
html[dir=rtl] {
    body {
        font-family: "Tajawal", sans-serif;
    }

    header {
        .hamburger-menu {
            margin-left: 10px;
        }
        .side-widget {
            left: auto;
            right: -100%;
        }
        .side-widget.active {
            left: auto;
            right: 0;
        }
    }

    .swiper{
        direction: ltr;
        .swiper-slide {
            * {
                direction: rtl;
            }
        }
    }

    section.about .about-text .part {
        padding-right: 0;
        padding-left: 20px;
    }

    .alert.alert-warning {
        .close {
            right: auto;
            left: 10px;
        }

        &.alert-dismissible {
            padding-right: 15px;
            padding-left: 3rem;
        }
    }
    .pagination-part .pagination .page-link {
        i {
            @include transform(rotate(180deg))
        }
    }

    footer {
        .footer-content {
            .footer-box {
                .contact {
                    ul {
                        li {
                            padding-right: 40px;
                            padding-left: 0;

                            i {
                                right: 0;
                                left: auto;
                            }
                        }
                    }
                }
            }

            .main,
            .services {
                ul {
                    li {
                        padding-right: 20px;

                        &::after {
                            right: 0;
                            left: auto;
                        }
                    }
                }
            }
        }
    }
}


/** rtl styles **/