extends index

block title_block
    title elite | about

block index_block
    // broadcrumb part
    section(class="broadcrumb" style="background-image: url(../images/slider/slider-1.jpg);")
        div(class="container")
            div(class="title")
                h2 About Us
                p A bit of history
    // broadcrumb part

    // about page part
    section(class="about-page")
        div(class="container")
            div(class="title")
                h2 About Us
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis nihil, possimus aliquam est incidunt perspiciatis ipsa distinctio ab cupiditate voluptatibus nemo nam.
            div(class="about-page-content")
                div(class="about-page-image")
                    img(src="../images/about/about.jpg", class="img-fluid", alt="")
                div(class="about-page-text")
                    h2 elite company
                    p The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero"s De Finibus Bonorum et Malorum for use in a type specimen book. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor sed delectus unde officiis alias sequi |ipsa, ad ab fugit, quaerat quasi maxime dignissimos inventore omnis rerum molestiae nihil blanditiis id. passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero"s De Finibus Bonorum et Malorum for use in a type specimen book. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor sed delectus unde officiis alias sequi |ipsa, ad ab fugit, quaerat quasi maxime dignissimos inventore omnis rerum molestiae nihil blanditiis id.
            div(class="about-page-content")
                div(class="about-page-image")
                    img(src="../images/about/about.jpg", class="img-fluid", alt="")
                div(class="about-page-text")
                    h2 elite company
                    p The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero"s De Finibus Bonorum et Malorum for use in a type specimen book. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor sed delectus unde officiis alias sequi |ipsa, ad ab fugit, quaerat quasi maxime dignissimos inventore omnis rerum molestiae nihil blanditiis id.
            div(class="about-page-content")
                div(class="about-page-image")
                    img(src="../images/about/about.jpg", class="img-fluid", alt="")
                div(class="about-page-text")
                    h2 elite company
                    p The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero"s De Finibus Bonorum et Malorum for use in a type specimen book. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor sed delectus unde officiis alias sequi |ipsa, ad ab fugit, quaerat quasi maxime dignissimos inventore omnis rerum molestiae nihil blanditiis id.
    // about page part