extends index

block title_block
    title elite | contact

block index_block
    // broadcrumb part
    section(class="broadcrumb" style="background-image: url(images/slider/slider-1.jpg);")
        div(class="container")
            div(class="title")
                h2 contact Us
                p Lorem ipsum dolor sit amet
    // broadcrumb part
    // contact page part
    div(class="map")
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110550.39964813001!2d31.11960275764731!3d30.01676975648693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458469235579697%3A0x4e91d61f9878fc52!2sGiza%2C%20El%20Omraniya%2C%20Giza%20Governorate!5e0!3m2!1sen!2seg!4v1630871023803!5m2!1sen!2seg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy")
    section(class="contact contact-page")
        div(class="container")
            div(class="info-area")
                div(class="row")
                    div(class="col-md-4 col-lg-4")
                        div(class="info-box")
                            i(class="fas fa-envelope")
                            h4 email
                            a(href="mailto:") mail@yahoo.com
                    div(class="col-md-4 col-lg-4")   
                        div(class="info-box")
                            i(class="fas fa-phone-alt")
                            h4 phone
                            a(href="tel:") +201988209222
                    div(class="col-md-4 col-lg-4")
                        div(class="info-box")
                            i(class="fas fa-map-marker-alt")
                            h4 location
                            span 6th of October city
            div(class="form-area")
                div(class="title")
                    h2 Message us
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat consequuntur quia iure sed, suscipit nihil libero dignissimos fuga debitis
                div(class="contact-box")
                    div(class="alert bg-danger alert-warning alert-dismissible fade show" role="alert")
                        p You should check in on some of those fields below.
                        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="form-content")
                        form(action="")
                            .row
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        input(placeholder="Name" class="form-control" type="text" required)
                                div(class="col-lg-12")            
                                    div(class="form-group")
                                        input(placeholder="E-mail" class="form-control" type="email" required)
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        input(placeholder="Phone" class="form-control" type="number" required)
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        textarea(rows="6" placeholder="Type your message" class="form-control")
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        button(class="btn btn-danger hvr-sweep-to-top" type="submit") Send
                                div(class="col-lg-12")
                                    div(class="text-center")
                                        p(class="successfully") Message Sent Successfully 
    // contact page part