doctype 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="images/favicon.png")
        block title_block
            title elite | home
        include includes/head.pug
    body
        .main-wrapper
            include includes/header.pug
            block index_block
                // slider part
                section(class="main-slider")
                    div(style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff", class="swiper main_swiper")
                        div(class="swiper-wrapper")
                            div(class="swiper-slide" style="background-image: url(images/slider/slider-1.jpg);")
                                div(class="container")
                                    div(class="subtitle", data-swiper-parallax="-1000") 
                                        h2 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    div(class="text", data-swiper-parallax="-800")
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                            | dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                                            | laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                                            | Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                                            | Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                                            | ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                                            | tincidunt ut libero. Aenean feugiat non eros quis feugiat.
                                    .slider-btn
                                        a(href="track.html")
                                            a(href="about.html"  class="hvr-sweep-to-top btn btn-success") more
                            div(class="swiper-slide" style="background-image: url(images/slider/slider-2.jpg);")
                                div(class="container")
                                    div(class="subtitle", data-swiper-parallax="-1000") 
                                        h2 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    div(class="text", data-swiper-parallax="-800")
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                            | dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                                            | laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                                            | Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                                            | Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                                            | ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                                            | tincidunt ut libero. Aenean feugiat non eros quis feugiat.
                                    .slider-btn
                                        a(href="track.html")
                                            a(href="about.html"  class="hvr-sweep-to-top btn btn-success") more
                            div(class="swiper-slide" style="background-image: url(images/slider/slider-3.jpg);")
                                div(class="container")
                                    div(class="subtitle", data-swiper-parallax="-1000") 
                                        h2 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    div(class="text", data-swiper-parallax="-800")
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                            | dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                                            | laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                                            | Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                                            | Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                                            | ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                                            | tincidunt ut libero. Aenean feugiat non eros quis feugiat.
                                    .slider-btn
                                        a(href="track.html")
                                            a(href="about.html"  class="hvr-sweep-to-top btn btn-success") more
                        div(class="swiper-button-next")
                        div(class="swiper-button-prev")
                        div(class="swiper-pagination")
                // slider part

                // about part
                section(class="about")
                    div(class="container")
                        div(class="row align-items-center")
                            .col-lg-7
                                div(class="about-text")
                                    .part
                                        h2 our vission
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aspernatur libero doloribus aliquid eveniet, alias aut voluptate quisquam quia tenetur. Eum veritatis totam accusantium dolor eaque! Earum expedita corporis rem.
                                    .part    
                                        h2 our mission
                                        p Lorem ipsum, or lipsum as it is sometimes known have scrambled parts of Cicero"s De Finibus Bonorum et Malorum for use in a type specimen book.
                                    .about-btn
                                        a(href="about.html"  class="hvr-sweep-to-top btn btn-success") read more
                            .col-lg-5
                                div(class="about-image")
                                    img(src="images/about/about.jpg" class="img-fluid" alt="")
                    //- .absolute-number
                        h3 Elite
                // about part

                // story part
                section(class="story" style="background: url(images/bgs/story.jpg) center center fixed;")
                    div(class="container")
                        div(class="title")
                            h2 our story
                        div(class="details wow fadeInUp" data-wow-duration="1s")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. At deserunt quidem id labore dolorem nemo asperiores repellat, fuga qui non vero neque libero facere incidunt mollitia voluptates praesentium possimus maiores?
                            .story-btn
                                a(href="about.html"  class="hvr-sweep-to-top btn btn-success") read more
                // story part

                // products part
                section(class="products")
                    div(class="container")
                        div(class="title")
                            h2 our products
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam voluptates nobis accusantium similique at.
                        div(class="products-content")
                            div(class="row")
                                div(class="col-md-4 col-lg-4")
                                    div(class="product-box wow fadeInUp" data-wow-duration="1s")
                                        div(class="image")
                                            img(src="images/products/5-gallery.jpg", class="img-fluid", alt="")
                                        div(class="details")
                                            h3 Lorem ipsum dolor sit
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatum quos, pariatur minus unde eum quidem velit mollitia vel laboriosam eius rem laborum soluta aut rerum ad odio facere? Modi.
                                            .details-btn
                                                a(href="single-product.html"  class="hvr-sweep-to-top btn btn-success") more details
                                        //- div(class="details")
                                        //-     h3 Shipping solution
                                        //-     p The passage is attributed to an unknown typesetter in the 15th century
                                div(class="col-md-4 col-lg-4")
                                    div(class="product-box wow fadeInUp" data-wow-duration="1s")
                                        div(class="image")
                                            img(src="images/products/1-gallery.jpg", class="img-fluid", alt="")
                                        div(class="details")
                                            h3 Lorem ipsum dolor sit
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatum quos, pariatur minus unde eum quidem velit mollitia vel laboriosam eius rem laborum soluta aut rerum ad odio facere? Modi.
                                            .details-btn
                                                a(href="single-product.html"  class="hvr-sweep-to-top btn btn-success") more details
                                div(class="col-md-4 col-lg-4")
                                    div(class="product-box wow fadeInUp" data-wow-duration="1s")
                                        div(class="image")
                                            img(src="images/products/2-gallery.jpg", class="img-fluid", alt="")
                                        div(class="details")
                                            h3 Lorem ipsum dolor sit
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatum quos, pariatur minus unde eum quidem velit mollitia vel laboriosam eius rem laborum soluta aut rerum ad odio facere? Modi.
                                            .details-btn
                                                a(href="single-product.html"  class="hvr-sweep-to-top btn btn-success") more details
                                div(class="col-md-4 col-lg-4")
                                    div(class="product-box wow fadeInUp" data-wow-duration="1s")
                                        div(class="image")
                                            img(src="images/products/3-gallery.jpg", class="img-fluid", alt="")
                                        div(class="details")
                                            h3 Lorem ipsum dolor sit
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatum quos, pariatur minus unde eum quidem velit mollitia vel laboriosam eius rem laborum soluta aut rerum ad odio facere? Modi.
                                            .details-btn
                                                a(href="single-product.html"  class="hvr-sweep-to-top btn btn-success") more details
                                div(class="col-md-4 col-lg-4")
                                    div(class="product-box wow fadeInUp" data-wow-duration="1s")
                                        div(class="image")
                                            img(src="images/products/4-gallery.jpg", class="img-fluid", alt="")
                                        div(class="details")
                                            h3 Lorem ipsum dolor sit
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatum quos, pariatur minus unde eum quidem velit mollitia vel laboriosam eius rem laborum soluta aut rerum ad odio facere? Modi.
                                            .details-btn
                                                a(href="single-product.html"  class="hvr-sweep-to-top btn btn-success") more details
                                div(class="col-md-4 col-lg-4")
                                    div(class="product-box wow fadeInUp" data-wow-duration="1s")
                                        div(class="image")
                                            img(src="images/products/5-gallery.jpg", class="img-fluid", alt="")
                                        div(class="details")
                                            h3 Lorem ipsum dolor sit
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatum quos, pariatur minus unde eum quidem velit mollitia vel laboriosam eius rem laborum soluta aut rerum ad odio facere? Modi.
                                            .details-btn
                                                a(href="single-product.html"  class="hvr-sweep-to-top btn btn-success") more details
                        div(class="products-btn")
                            a(href="products.html"  class="hvr-sweep-to-top btn btn-success") all products
                // products part

                // partners part
                //- section(class="partners")
                    div(class="container")
                        div(class="title")
                            h2 our partners
                        .partners-content
                            .partners_carousel.owl-carousel.owl-theme
                                .single_item
                                    .inner
                                        img(src="images/partners/01.png" class="img-fluid" alt="")
                                .single_item
                                    .inner
                                        img(src="images/partners/02.png" class="img-fluid" alt="")
                                .single_item
                                    .inner
                                        img(src="images/partners/03.png" class="img-fluid" alt="")
                                .single_item
                                    .inner
                                        img(src="images/partners/04.png" class="img-fluid" alt="")
                                .single_item
                                    .inner
                                        img(src="images/partners/05.png" class="img-fluid" alt="")
                                .single_item
                                    .inner
                                        img(src="images/partners/06.png" class="img-fluid" alt="")
                                .single_item
                                    .inner
                                        img(src="images/partners/07.png" class="img-fluid" alt="")
                                .single_item
                                    .inner
                                        img(src="images/partners/08.png" class="img-fluid" alt="")
                                .single_item
                                    .inner
                                        img(src="images/partners/09.png" class="img-fluid" alt="")
                // partners part

                // contact part
                //- section(class="contact")
                    //img(src="images/location.svg" class="location-img img-fluid" alt="")
                    div(class="container")
                        div(class="title")
                            h2 contact us
                        div(class="contact-box")
                            div(class="alert bg-danger alert-warning alert-dismissible fade show" role="alert")
                                p You should check in on some of those fields below.
                                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                                    span(aria-hidden="true") &times;
                            div(class="form-area")
                                form(action="")
                                    .row
                                        div(class="col-lg-12")
                                            div(class="form-group")
                                                input(placeholder="Name" class="form-control" type="text" required)
                                        div(class="col-lg-12")            
                                            div(class="form-group")
                                                input(placeholder="E-mail" class="form-control" type="email" required)
                                        div(class="col-lg-12")
                                            div(class="form-group")
                                                input(placeholder="Phone" class="form-control" type="number" required)
                                        div(class="col-lg-12")
                                            div(class="form-group")
                                                textarea(rows="6" placeholder="Type your message" class="form-control")
                                        div(class="col-lg-12")
                                            div(class="form-group")
                                                button(class="btn btn-danger hvr-sweep-to-top" type="submit") Send
                                        div(class="col-lg-12")
                                            div(class="text-center")
                                                p(class="successfully") Message Sent Successfully 
                // contact part
            include includes/footer.pug
        include includes/scripts.pug